<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
   xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="utf-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" >
 <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" ></script>
 <link rel="stylesheet" th:href="@{~/AddBuddies.css}"></link>
 <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
<title>Suggest Buddies | MiFi</title>
 <link rel = "icon" th:href ="@{~/MiFiLogo.jpg}" 
        type = "image/x-icon">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid " style="margin-bottom:-0.8rem">
    <a class="navbar-brand pt-0 " style="margin-top:-1.2rem;"  href="#"><font  size=3.5rem><B>MiFi</B></font></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon" style="width:0.8rem"></span>
      </button>
    <ul class="collapse navbar-collapse mr-auto"  id="navbarNav">
      <!-- Avatar -->
    <!--   <li>
       <a class="navbar-brand pt-0 " style="margin-top:-1rem;"  href="#"><font  size=3.5rem><B>MiFi</B></font></a>
      </li> -->
      <li class="nav-item dropdown p-1">
        <a
          class="nav-link dropdown-toggle d-flex align-items-center"
          href="#"
          id="navbarDropdownMenuLink"
          role="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          <img
           th:src="@{'~/proPics/'+${user.userProPic}}"
           style="min-width:1.6rem;max-width:1.6rem;min-height:1.6rem;max-height:1.6rem"
            class="rounded-circle"
            height="22"
            alt="Portrait of a Woman"
            loading="lazy"
          />
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <li>
            <a class="dropdown-item" th:href="@{/user/}">My Profile</a>
          </li>
          <li>
            <a class="dropdown-item" th:href="@{~/user/settings}">Settings</a>
          </li>
          <li>
            <a class="dropdown-item" 	th:href="@{~/logout}">Logout</a>
          </li>
        </ul>
      </li>
       <li class="nav-item p-2 dropdown" >
        <a
          class="nav-link dropdown-toggle d-flex align-items-center"
          href="#"
          id="navbarDropdownMenuLink2"
          role="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        ><img th:src="@{~/AddBuddyIcon.png}" style="width:1.6rem"><span class="badge rounded-pill badge-notification bg-danger">[[${reqC}]]</span> </a>
        
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink2">
          <li>
            <a class="dropdown-item" th:href="@{~/user/buddy_sug}">Buddy Suggestions</a>
          </li>
          <li>
            <a class="dropdown-item" th:href="@{~/user/buddy_req}">Buddy Requests</a>
          </li>
          </ul>
        </li>
        <li><a th:href="@{~/user/feed}"><img th:src="@{~/feedlogo.png}" style="width:1.8rem"></a>
        </li>
    </ul>
  </div>
</nav>



<section class="row justify-content-center mt-3  ">
  <div class="card " style="max-width: 42rem;margin-left:5%;opacity:0.95" >
    <div class="card-body">
    
    <br><h5>You may Like to Add</h5><br>
        <div class="col-sm-12 col-md-12 mx-auto">
            <div class="suggestions justify-content-between mb-3">
              <div class="suggest-user"  th:each="sug:${ar}">
                <div class="row ms-3">
                  <div class="col-md-2 col-sm-2">
                    <img th:src="@{'~/proPics/'+${sug.userProPic}}" style="max-width:3rem;max-height:3rem;min-width:3rem;min-height:3rem;border-radius:50%">
                  </div>
                  <div class="col-md-5 col-sm-5 mx-auto">
                    <h5><a th:href="@{/user/bud_profile/{userName}(userName=${sug.userName})}" class="profile-link"> [[${sug.firstName }+ ' ' +${sug.lastName }]] </a></h5>
                    <p>Makes [[${sug.category}]]</p>
                   <!--  <p class="text-muted">n Mutual</p> -->
                  </div>
                  <div class="col-md-3 col-sm-3 ml-auto">
                    <!-- <a type="button" th:href="@{'/user/buddy_sug/' + ${sug.userName}}"><span>Add</span></a> -->
                    <form th:action="@{/user/buddy_sug/{userName}(userName=${sug.userName})} " th:method="post">
                    <button class="btn btn-primary rounded-pill" style="width:6rem">Add</button></form> </div>
                    <!--  <div class="col-md-2 col-sm-2"><form th:action="@{/user/buddy_sug_temp/{userName}(userName=${sug.userName})} " th:method="post">
                    <button type="button" class="btn-close btn-close-black" aria-label="Close"></button></form> -->
                  </div>
              </div>
             
             </div> 
             
                  </div>
    
    
    </div></div></section>
    
    

                              
</body>
</html>